@import "../../style.scss";

.login {
    @include themify($themes) {
        width: 100%;
        min-height: calc(100vh - 160px);
        background-color: themed("bgSoft");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;

        .login-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 400px;
            padding: 20px;

            h1 {
                color: themed("textColor");
                text-align: center;
                margin-bottom: 10px;
            }

            .signin-form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .form-group {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 10px;
                    }

                    .error-message {
                        color: #f44336;
                        font-size: small;
                    }
                }

                button {
                    border: none;
                    background-color: #5371ff;
                    color: white;
                    padding: 10px 20px;
                    cursor: pointer;
                    border-radius: 3px;

                    &:disabled{
                        background-color: #555;
                    }

                    .spinner {
                        animation: spin 1s linear infinite;
                    }

                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            .link {
                text-align: center;
                color: #5371ff;
            }
        }
    }
}